{{extend '../_layouts/home.html'}}

{{if detail}}
  {{block 'title'}}
  Topic - {{detail.title}}
  {{/block}}

  {{block 'head'}}
  <link rel="stylesheet" href="/public/css/topic.css" />
  <link rel="stylesheet" href="/public/css/comment.css" />
  <script src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
  {{/block}}

  {{block 'body'}}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="topic">
          <p class="topic-title">{{detail.title}}</p>
          <p class="topic-info">发布者：{{detail.sponsor}}</p>
          <p class="topic-info">浏览数：{{detail.views}}</p>
          <hr />
          <div id="content"></div>
          <hr />
          <p class="topic-info">创建日期：{{detail.created_time}}</p>
          <p class="topic-info">最新日期：{{detail.last_modified_time}}</p>
        </div>
        <div class="comment">
          <p class="comment-title">评论：</p>
          <ul id="comment"></ul>

          {{if user}}
          <div id="editor" class="comment-editor"></div>
          <button id="post_btn" type="button" class="btn btn-default" style="width: 100%; margin-top: 5px;">评论</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/block}}

  {{block 'script'}}

  <script>
    var temp = '{{detail.content}}';
    var target = temp.replace(/&#60;/g, '<').replace(/&#62;/g, '>');
    $('#content').html(target);
  </script>

  {{if user}}
  <script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('', '#editor')  // 两个参数也可以传入 elem 对象，class 选择器
    editor.create()
  </script>

  <script>
    $('#post_btn').on('click', function () {
      console.log('click');
      $.ajax({
        url: '/comment/add',
        type: 'post',
        data: {
          tid: '{{detail.id}}',
          content: editor.txt.text(),
        },
        dataType: 'json',
        success: function (data) {
          console.log(data);
          if (data.code === 200 && data.err_code === 0) {
            location.reload(true);
          }
        }
      })
    })
  </script>
  {{/if}}

  <script>
    $.ajax({
      url: '/comment/topic?tid={{detail.id}}',
      type: 'get',
      success: function (data) {
        console.log(data);
        if (data.code === 200 && data.err_code === 0) {
          let str = '';
          data.data.forEach(function (value) {
            // if (value.reviewer === '{{user && user.email}}') {
            //   str = str + '<p>' + value.content + '<a href="/comment/del?id=' + value.id + '">X</a></p>';
            // } else {
            //   str = str + '<p>' + value.content + '</p>';
            // }
            str = str + '<li class="comment-item"><p>' + value.content + '</p><p class="comment-suffix">' + value.reviewer + '</p><p class="comment-suffix">' + value.created_time + '</p></li>';
          })
          $('#comment').html(str);
        }
      }
    })
  </script>
  {{/block}}
{{else}}
  {{block 'title'}}
  Topic - 话题不存在
  {{/block}}

  {{block 'body'}}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class='exception'>尚未登录。<a href="/">返回主页</a></div>
      </div>
    </div>
  </div>
  {{/block}}
{{/if}}
