<!-- <header class="container-fluid">
  <div class="row header">
    <div class="col-md-8">
      <a href="/">Topic Website</a>
    </div>
    <div class="col-md-4">
      {{if user}}
      <a href="/personal"><img class="avatar" src="{{user.avatar}}" /> {{ user.nickname }}</a> | <a href="logout">退出</a>
      {{else}}
      <a href="/login">登录</a> | <a href="/register">注册</a>
      {{/if}}
    </div>
    <div class="col-md-12">
      <hr />
    </div>
  </div>
</header> -->

<header class="container-fluid navbar-fixed-top">
  <div class="row header">
    <div class="col-md-4 col-md-offset-4 header-logo">
      <a href="/">Topic Website</a>
    </div>
    <div class="col-md-4 header-operation">
      {{if user}}
      <a href="/personal"><img class="header-avatar" src="{{user.avatar}}" /> {{ user.nickname }}</a> | <a href="logout">退出</a>
      {{else}}
      <a href="/login">登录</a> | <a href="/register">注册</a>
      {{/if}}
    </div>
  </div>
</header>
